.container {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 400px;
}

.card {
  width: 35%;
}

.card-body {
  background-color: #00b4d8;
  text-align: center;
  font-size: 30px;
  color: #2d3e52;
}

#Redeem {
  background-image: url("../../public/images/redeem.jpg");
}

#Sell {
  background-image: url("../../public/images/sell.png");
}
